




<!--<article *ngIf="finca">
  <h2>{{ finca.name }} </h2>

  <sebm-google-map class="sebm-google-map-container" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true"
    [zoomControl]="true" styled-map>


    <sebm-google-map-marker [latitude]="finca.location[0]" [longitude]="finca.location[1]" [label="finca.name" ] [markerDraggable]=false
      [iconUrl]="">
      <sebm-google-map-info-window>
        <h4>{{ finca.name }}</h4>
        <p>Área: {{ finca.area }}</p>
      </sebm-google-map-info-window>

    </sebm-google-map-marker>

  </sebm-google-map>

</article>-->